body {
  background-image: linear-gradient(to bottom, #93b5c6, #f0cf65);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
.label {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.form-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc; /* add a 1px solid border */
  border-radius: 10px; /* add rounded corners with a 10px radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a subtle box shadow */
  background-color: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.3)
  );
}
.todo-container {
  position: absolute;
  top: 50%; /* adjust the top position to be below the form */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc; /* add a 1px solid border */
  border-radius: 10px; /* add rounded corners with a 10px radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a subtle box shadow */
  background-color: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.3)
  );
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #acc;
  border-radius: 10px;
  background-color: #ccc;
}

input[type="radio"] {
  margin-right: 10px;
}

label {
  flex: 1;
}

.img {
  height: 5%;
  width: 5%;
}
